@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
:root {
  --topNavColor: #6b21a8;
  --sideNavColor: #f3f4f6;
  --btnColor: #343a40;
  --hovorbtnColor: #d8b4fe;
  --contentPageColor: rgb(255, 255, 254);
  --blueColor: #1c8cfd;
  --blueColorHover: #0480fb;
  --perpulColor: #d14ffc;
  --perpulColorHover: #ca36fc;
  --redColor: #e60000;
  --redColorHover: #cc0000;
  --blackColor: #4d4d4d;
  --blackColorHover: #404040;
  --greyColor: #cccccc;
  --greyColorHover: #d9d9d9#cc0000;
}
body {
  /* background-color: black; */
  font-family: "Roboto Mono", monospace;
  height: 100%;
}

* {
  padding: 0rem;
  margin: 0rem;
}
.topnav {
  background-color: var(--topNavColor);

  /* grid-column: 1 /5; */
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom-right-radius: 2rem;
  position: relative;
}
.topmaindiv {
  position: relative;
  left: 7rem;
}
.home {
  position: absolute;
  left: 8rem;
}

.homelink {
  border: 1px solid white;
  border-radius: 0.5rem;

  padding: 0.3rem 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.homelink:hover {
  background-color: var(--hovorbtnColor);
  color: var(--btnColor);
  /* background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%); */
  animation: slidebg 5s linear infinite;
}
.topnavSearch {
  color: var(--topNavColor);
  width: 250px;
  height: 30px;
  border: 1px solid var(--topNavColor);
  border-radius: 1rem;
  position: absolute;
  right: 65%;
  bottom: 35%;
  padding: 0rem 1rem;
}
.heading {
  font-size: 50px;
}
.csslogo {
  font-size: 0.5em;
  position: relative;
  bottom: 1.5rem;
}
.topNavIconListDiv {
  position: relative;
  left: 31rem;
}
.topNavIconList {
  display: flex;
}
.topNavListItem {
  list-style: none;
  padding: 0rem 1rem;
}
i {
  cursor: pointer;
}
i:hover {
  transform: scale(1.5);
}
.mainDiv {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-auto-rows: minmax(650px, auto);
}

.sidenav {
  background-color: var(--sideNavColor);

  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0rem 2rem;
}
.list {
  /* justify-self: center; */
  /* position: fixed;
  bottom: 2rem; */
  padding-top: 5rem;
  padding-left: 4rem;
}
.sideNavListItem {
  list-style: none;
  margin: 2.5rem;
}

.link {
  background-color: var(--btnColor);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  font-weight: bold;
  text-decoration: none;
}
.link:hover {
  background-color: var(--hovorbtnColor);
  /* background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%); */
  animation: slidebg 5s linear infinite;
}
.page {
  background-color: var(--contentPageColor);

  /* height: calc(100vh - 200px); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem;
}

.sectionheading {
  font-weight: bolder;
  font-size: 36px;
  color: var(--topNavColor);
  background-color: white;
  padding: 1rem 4rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  border-bottom: 3px solid var(--topNavColor);
  border-top: 3px solid var(--topNavColor);
  width: 80%;
  border-radius: 10%;
  text-align: center;
}
.imgcss {
  height: 280px;
  width: 700px;
}

.contentDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding-bottom: 2rem;
}

.contentSubDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  min-width: 250px;
  background-color: var(--sideNavColor);

  /* margin: 1em 0rem; */
}
.button {
  margin: 1rem 0rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}
.btn1 {
  padding: 0.5rem 1rem;
}
.btn2 {
  padding: 0.5rem 1.5rem;
}
.btn3 {
  padding: 0.5rem 2rem;
}

.primary {
  background-color: var(--perpulColor);
  border: 1px solid var(--perpulColor);
}
.primary:hover {
  background-color: var(--perpulColorHover);
  animation: slidebg 5s linear infinite;
}
.secondary {
  color: var(--perpulColor);
  background-color: transparent;
  border: 1px solid var(--perpulColor);
}
.secondary:hover {
  color: white;
  background-color: var(--perpulColorHover);
  animation: slidebg 5s linear infinite;
}
.danger1 {
  background-color: var(--redColor);
  border: 1px solid var(--redColor);
}

.danger1:hover {
  background-color: var(--redColorHover);
  animation: slidebg 5s linear infinite;
}
.danger2 {
  color: var(--redColor);
  background-color: transparent;
  border: 1px solid var(--redColor);
}
.danger2:hover {
  color: white;
  background-color: var(--redColorHover);
  animation: slidebg 5s linear infinite;
}
.dark {
  background-color: var(--blackColor);
  border: 1px solid var(--blackColor);
}
.dark:hover {
  background-color: var(--blackColorHover);
  animation: slidebg 5s linear infinite;
}
.light {
  background-color: var(--greyColor);
  border: 1px solid var(--greyColor);
}
.light:hover {
  color: black;
  background-color: var(--greyColorHover);
  animation: slidebg 5s linear infinite;
}
.avtarDiv {
  min-height: 300px;
  min-width: 300px;
  justify-content: space-around;
}
.imgBoxSmall {
  height: 150px;
  width: 150px;
}
.imgBoxMedium {
  height: 200px;
  width: 200px;
}
.imgBoxLarge {
  height: 250px;
  width: 250px;
}
.imgCircleSmall {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.imgCircleMedium {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.imgCircleLarge {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
input:focus {
  outline: none;
}
.cardComponent {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  /* min-width: 650px; */
  /* min-height: 600px; */
  background-color: var(--sideNavColor);
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 250px;
  min-height: 450px;
  width: 300px;
  height: 550px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem grey;
  margin: 2rem;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
}
.cardImg1 {
  width: 100%;
  height: 275px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.cardImg2 {
  width: 100%;
  height: 275px;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.mrp {
  text-decoration: line-through;
  margin: 0rem 1rem;
}
.off {
  color: var(--redColor);
}
.itemName {
  margin: 1rem 0rem;
}
.cardBtnDiv {
  display: flex;

  margin-bottom: 2rem;
  justify-content: space-between;
  align-self: center;
}

.cardBtn {
  padding: 0rem;
  height: 40px;
  width: 100px;
  margin: 0rem 1rem;
}
.cencelBtn {
  position: absolute;
  left: 265px;
  top: 15px;
}
.cencelBtn:hover {
  transform: scale(1.5);
}

.card-With-Backgroud-Img {
  /* padding: 1rem 2rem; */
  color: var(--perpulColor);
  justify-content: flex-end;
  background-image: url("https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/7324885/2019/12/4/f383d293-415a-4606-ab12-cc07ab603ec41575437710624-HIGHLANDER-Men-Brown--Black-Slim-Fit-Checked-Casual-Shirt-81-1.jpg");
}
.cardDetail {
  margin: 2rem;
  /* padding: 2rem; */
}
.cardDetailbackgroundImg {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.ImgCardBtn {
  margin: 0rem 0rem;
  margin-top: 2rem;

  height: 40px;
  width: 200px;
}
.alertComponent {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  /* min-width: 650px; */
  /* min-height: 600px; */
  background-color: var(--sideNavColor);
  margin-bottom: 2rem;
  margin-left: 3rem;
}
.alert {
  display: flex;
  flex-direction: column;
}
.alt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  border-radius: 10px;
  width: 500px;
  height: 60px;
  margin: 1.5rem 1rem;
}
.altIcon {
  margin: 0rem 1rem;
}
.successfulAlert {
  color: green;
  border: 1px solid green;
}
.errorAlert {
  color: var(--redColorHover);
  border: 1px solid var(--redColorHover);
}
.warningAlert {
  color: var(--redColorHover);
  border: 1px solid var(--redColorHover);
}
.warningAlert {
  color: var(--blueColor);
  border: 1px solid var(--blueColor);
}
.instructionAlert {
  color: var(--blackColorHover);
  border: 1px solid var(--blackColorHover);
}
.navComponent {
  width: 100%;
  height: 100%;
  margin-left: 1rem;
  padding: 1rem;
  background-color: var(--sideNavColor);
  margin-bottom: 6rem;
}

.nav {
  background-color: var(--topNavColor);

  grid-column: 1 /5;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom-right-radius: 2rem;
  position: relative;
  margin: 5rem 0rem;
}
.navGrey {
  background-color: #1f2937;
}
.navGreen {
  background-color: #047857;
}
.navPink {
  background-color: #be185d;
}
.navdiv {
  position: relative;
  left: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navhome {
  position: absolute;
  right: 100%;
}
.navSearch {
  color: var(--topNavColor);
  width: 200px;
  height: 25px;
  border: 1px solid var(--topNavColor);
  border-radius: 1rem;
  position: absolute;
  right: 77%;
  bottom: 30%;
  padding: 0rem 1rem;
}
.navIconListDiv {
  position: relative;
  left: 20%;
}
.navhomelink {
  border: 1px solid white;
  border-radius: 0.5rem;

  padding: 0.3rem 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.navhomelink:hover {
  background-color: var(--hovorbtnColor);
  color: var(--btnColor);
  animation: slidebg 5s linear infinite;
}

.navheading {
  font-size: 50px;
}
.navlogo {
  font-size: 0.5em;
  position: relative;
  bottom: 1.5rem;
}

.navIconList {
  display: flex;
}
.navListItem {
  list-style: none;
  padding: 0rem 1rem;
}
